<style>
    :host {
    display: flex;

    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
</style>

<div class="navbar-fixed">
  <nav [style.backgroundColor]="'orange'">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <img src="assets/logo.png" [ngStyle]="getBackgroundImageStyle()" />
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li></li>

      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo" #mobile>
    <li><a href="sass.html"></a></li>

  </ul>
</div>
